body {
  background: url('images/psite_background.jpg') no-repeat top center;
  background-size:cover; 
  margin:0; 
  padding:0
}

#header-container{
  height: 60px;
  width: 100%;
  background-color: black;
  opacity: .9;
  position:fixed;
}

#container { 
  margin:0 auto; 
  overflow:auto; 
  padding:80px 0; 
  width:940px; 
}
#content{}

#footer_container { 
  background-color: black;
  opacity: .9; 
  border:1px solid #666; 
  bottom:0; height:60px; 
  left:0; 
  position:fixed; 
  width:100%; 
}

#footer { line-height:60px; margin:0 auto; width:940px; text-align:center; }

.me{
  border-radius: 10px; 
}

#pages{
  margin: 60px auto;
  margin-left: 60px;
  position: relative;
}

#descriptions{
  text-align: left; 
  margin-left: 100px;
  width: 600px;
  margin: 2em auto;
  padding: 50px;
  background-color: #fff;
  opacity: .8;
  border-radius: 1em;
}

h1{
/*  font-family:'Carrois Gothic SC', sans-serif;
*/
  font-family: 'Fredericka the Great';
  text-align: center; 
  font-size: 50px;
  padding:0;
}


h3{
/*  font-family:'Carrois Gothic SC', sans-serif;
*/
  font-family: 'Fredericka the Great';
  text-align: left; 
  font-size: 20px;
}

.pages{
  float: center;  
  position:relative; 
  top:5px;
  left:75px; 
}

#menu{
  overflow: hidden;
  color: white;
  font-family: 'The Girl Next Door', sans-serif;
}

.menu-button{
  padding: 10px;
}

#skillset{
  border:none;
}

#connect{
  color:white;
  font-family: 'The Girl Next Door', sans-serif;
  float:left;
  font-size: 12px; 
  margin-left: 10px; 
}

tr{
  padding:10px;
  margin-right: 100px;
}

ul, li{
  list-style-type: none;
  display:inline;
  float:left;
}

li.nav:hover{
  color:orange;
}

a {
  color:orange;
  font-size:24px;
  text-decoration:none;
}

h2{
  font-family: 'The Girl Next Door', sans-serif;
  color:black;
}

nav {
  float: right;
  padding: 2em;
}

nav li {
  display: inline;
  list-style: none;
}

nav ul {
  margin: 0;
}


/* Page animation */

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  } 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

